<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 style="color: #107dd0">Pharmacies On Duty in Attica {{"for " + availablePharmacies[0].date}}</h2>
      <table class="table" style="color: #107dd0">
        <thead>
        <tr style="color: #eb201e">
          <th scope="col">Name</th>
          <th scope="col">Address</th>
          <th scope="col">Region</th>
          <th scope="col">Working Hours</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="!isFetching && availablePharmacies.length >= 0">
          <ng-container *ngFor="let availablePharmacy of availablePharmacies">
            <tr>
              <td>{{availablePharmacy.pharmacy.name}}</td>
              <td>{{availablePharmacy.pharmacy.address}}</td>
              <td>{{availablePharmacy.pharmacy.region}}</td>
              <td>{{availablePharmacy.workingHour.workingHourText}}</td>
            </tr>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="isFetching">
          <app-spinner class="main-loader"></app-spinner>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
