<div class="container">
  <div class="row">
    <div class="col-12">
<!--      <h2 style="color: #107dd0">Pharmacies On Duty in Attica</h2>-->
<!--      <table class="table" style="color: #107dd0">-->
<!--        <thead>-->
<!--        <tr style="color: #eb201e">-->
<!--          <th scope="col">Name</th>-->
<!--          <th scope="col">Date</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <ng-container *ngIf="!isFetching && availablePharmacies.length >= 0">-->
<!--          <ng-container *ngFor="let pharmacy of availablePharmacies">-->
<!--            <tr>-->
<!--              <th scope="row">{{pharmacy.name}}</th>-->
<!--              <td>{{pharmacy.date | date}}</td>-->
<!--            </tr>-->
<!--          </ng-container>-->
<!--        </ng-container>-->
<!--        <ng-container *ngIf="isFetching">-->
<!--          <app-spinner class="main-loader"></app-spinner>-->
<!--        </ng-container>-->
<!--        </tbody>-->
<!--      </table>-->
    </div>
  </div>
</div>
